<div class="tab-content" id="list-tab">
  <div class="tab-pane fade show active" id="important-file" role="tabpanel" aria-labelledby="imp">
    <h2>Favorite Files</h2>
    <table class="table" #favFileListTable>
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody *ngFor="let file of files">
      <tr>
        <th scope="row">
          <input type="checkbox" name="files" value="{{file.id}}" (change)="onSelectionChange()">
        </th>
        <td *ngIf="file.folder;else fileIcon">
          <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{file.name}}
        </td>
        <ng-template #fileIcon>
          <td><i class="fa fa-file-o" aria-hidden="true"></i> {{file.name}}</td>
          <td>{{file.type}}</td>
        </ng-template>
        <td *ngIf="file.folder"></td>
        <td>{{file.size}}KB</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
