<div class="modal-header">
  <h4 class="modal-title">Tag</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Select a tag (One tag at a time...)</p>
  <table class="table" #tagList>
    <tbody>
    <tr class="table-info">
      <td><input type="radio" name="tag" value="star"> </td>
      <td><a href=""><i class="fa fa-star-o fa-2x" aria-hidden="true"></i></a></td>
      <td> Star</td>
    </tr>
    <tr class="table-info">
      <td><input type="radio" name="tag" value="personal"> </td>
      <td><a href=""><i class="fa fa-shield fa-2x" aria-hidden="true"></i></a></td>
      <td> Personal</td>
    </tr>
    <tr class="table-info">
      <td><input type="radio" name="tag" value="favourite"> </td>
      <td><a href=""><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a></td>
      <td> Favourite</td>
    </tr>
    <tr class="table-info">
      <td><input type="radio" name="tag" value="none"> </td>
      <td><a href=""><i class="" aria-hidden="true"></i> </a></td>
      <td>None</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="tagFile()">Tag it!!</button>
  <button type="button" class="btn btn-outline-light" (click)="activeModal.close('Close click')">Close</button>
</div>
