<button type="button" class="btn btn-primary" (click)="createFile()"> <i class="fa fa-file-text" aria-hidden="true"></i> New File</button>
<ul class="nav flex-column" *ngFor="let button of toolbarButtons">
  <li class="nav-item">
    <a class="nav-link" [attr.href]="isDisabled() ? null : '#'"
       [class.disabled]="isDisabled() ||
       ( button.command == 'Rename' && selections.length > 1) ||
       (currentView == 'trashed-file' && button.command != 'Delete' && button.command != 'Restore')"
       (click)="!isDisabled() && button.click()"><i
      class={{button.icon}} aria-hidden="true"></i> {{button.command}}</a>
  </li>
</ul>

