<div class="list-group" id="list-tab" role="tablist">
  <a href="#" class="list-group-item list-group-item-action active" id="file-list" data-toggle="list" href="#file-list" role="tab" aria-controls="file">Files</a>
  <a href="#" class="list-group-item list-group-item-action" id="new-file" data-toggle="list">New File</a>
  <a href="#" class="list-group-item list-group-item-action" id="new-folder" data-toggle="list">New Folder</a>
  <a href="#" class="list-group-item list-group-item-action" id="upload-file" data-toggle="list">Upload Files</a>
  <a href="#" class="list-group-item list-group-item-action" id="shared-file" data-toggle="list" href="#shared-file" role="tab" aria-controls="sharedFile">Shared With Me</a>
  <a href="#" class="list-group-item list-group-item-action disabled" id="trashed-file" data-toggle="list" href="#trashed-file" role="tab" aria-controls="trashedFile">Trashed Files</a>
</div>
